<!--============================
=            Footer            =
=============================-->

<footer class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <div class="footer-logo">
              <!-- <img src="assets/images/logo.png" alt="logo" class="img-fluid"> -->/
              <h1 class="pb-5 text-light">LOGO</h1>
            </div>
            <ul class="social-links-footer list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/profile.php?id=100005780824109" target="_blank">
                  <i class="fa-brands fa-facebook-f"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://twitter.com/Akashde47329045" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/__blue_sky_x?igsh=OGJrdXF0ODNtcGtq" target="_blank">
                  <i class="fa-brands fa-instagram"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.youtube.com/@knowledgedoom" target="_blank"><i class="fa-brands fa-youtube"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/info-next" target="_blank"><i class="fa-brands fa-github"></i></a>
              </li>
            </ul>
          </div>
  
        </div>
      </div>
    </div>
  </footer>

  <!-- sub footer -->
  <sub-footer/>