<nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
    <div class="container-fluid p-0">
      <!-- logo -->
      <a class="navbar-brand" routerLink="/">
        <!-- <img src="assets/images/logo.png" alt="logo"> -->
        <h2>LOGO</h2>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
</button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item dropdown active">
            <a class="nav-link" href="#!" data-bs-toggle="dropdown">Home <i class="fa fa-angle-down"></i>
              <span>/</span>
            </a>
            <!-- Dropdown list -->
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="index.html">Homepage</a></li>
              <li><a class="dropdown-item" href="homepage-two.html">Homepage 2</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="speakers.html">Speakers
              <span>/</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#!" data-bs-toggle="dropdown">Pages <i class="fa fa-angle-down"></i><span>/</span></a>
            <!-- Dropdown list -->
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" >About Us</a></li>
              <li><a class="dropdown-item" >Single Speaker</a></li>
              <li><a class="dropdown-item" >Gallery</a></li>
              <li><a class="dropdown-item" >Gallery-02</a></li>
              <li><a class="dropdown-item" >Testimonial</a></li>
              <li><a class="dropdown-item" >Pricing</a></li>
              <li><a class="dropdown-item" >FAQ</a></li>
              <li><a class="dropdown-item">404</a></li>
                      
              <li class="dropdown dropdown-submenu dropright">
                <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0301" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>
      
                <ul class="dropdown-menu" aria-labelledby="dropdown0301">
                  <li><a class="dropdown-item" href="index.html">Submenu 01</a></li>
                  <li><a class="dropdown-item" href="index.html">Submenu 02</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="schedule.html">Schedule<span>/</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sponsors.html">Sponsors<span>/</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#!" data-bs-toggle="dropdown">News <i class="fa fa-angle-down"></i><span>/</span>
            </a>
            <!-- Dropdown list -->
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/blogs">Blogs</a></li>
              <li><a class="dropdown-item" href="news-right-sidebar.html">News with right sidebar</a></li>
              <li><a class="dropdown-item" href="news-left-sidebar.html">News with left sidebar</a></li>
              <li><a class="dropdown-item" href="news-single.html">News Single</a></li>
  
              <li class="dropdown dropdown-submenu dropleft">
                <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0501" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>
      
                <ul class="dropdown-menu" aria-labelledby="dropdown0501">
                  <li><a class="dropdown-item" href="index.html">Submenu 01</a></li>
                  <li><a class="dropdown-item" href="index.html">Submenu 02</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  