@import '_variables';
    .media{
        padding: 15px 0;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        img{
            margin-right: 15px;
        }
        .media-body{
            h6{
                a{
                    font-size: 15px;
                    color: $black;
                    line-height: 1;
                    font-weight: 400;
                    &:hover{
                        color: $primary-color;
                    }
                }
            }
            p{
                span{
                    margin-right: 10px;
                }
            }
        }
    }
