  <!-- Subfooter -->
  <footer class="subfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="copyright-text">
            <p><a routerLink="/">Angular</a> &copy; 2024, modifyed by <a href="https://github.com/info-next" target="_blank">akashdeep9226&#64;gmail.com</a></p>
          </div>
        </div>
        <div class="col-md-6">
          <a href="#" class="to-top"><i class="fa fa-angle-up"></i></a>
        </div>
      </div>
    </div>
  </footer>