<section class="news section">
	<div class="container">
		<div class="row mt-30">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="block">
					<!-- Article -->
					<article class="blog-post single">
						<div class="post-thumb">
							<img src="assets/images/news/single-post.jpg" alt="post-image" class="img-fluid">
						</div>
						<div class="post-content">
							<div class="date">
								<h4>20<span>May</span></h4>
							</div>
							<div class="post-title">
								<h3>Elementum purus id ultrices.</h3>
							</div>
							
							<div class="post-details">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore dolore magna aliqua enim ad minim veniam quis nostrud.laboris nisi ut aliquip ex ea commodo conse
								</p>
							</div>
						</div>
					</article>

				</div>

				<div class="row">
					<div class="col-md-6 col-sm-8 col-10 m-auto">
						<main-blog-card></main-blog-card>
					</div>
					<div class="col-md-6 col-sm-8 col-10 m-auto">
						<main-blog-card></main-blog-card>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-10 mx-auto">
				<div class="sidebar">
					<!-- Search Widget -->
					<div class="widget search p-0">
						<div class="input-group">
						    <input type="text" class="form-control main m-0" id="expire" placeholder="Search...">
						    <span class="input-group-addon"><i class="fa fa-search"></i></span>
					    </div>
					</div>
					<!-- Category Widget -->
					<div class="widget category">
						<!-- Widget Header -->
						<h5 class="widget-header">Categories</h5>
						<ul class="category-list m-0 p-0">
							<li><a href="">Strategy Planning <span class="float-right">(6)</span></a></li>
							<li><a href="">Corporate Identity <span class="float-right">(9)</span></a></li>
							<li><a href="">Brand Creation<span class="float-right">(3)</span></a></li>
							<li><a href="">Entertainment<span class="float-right">(5)</span></a></li>
							<li><a href="">Conference<span class="float-right">(7)</span></a></li>
						</ul>
					</div>
					<!-- Latest post -->
					<div class="widget latest-post">
						<h5 class="widget-header">Latest Post</h5>
						<!-- Post -->
                       @for (blog of [1,2,3,4]; track blog) {
                            <blog-card />
                            }
					</div>
					<!-- Popular Tag Widget -->
					<div class="widget tags">
						<!-- Widget Header -->
						<h5 class="widget-header">Popular Tags</h5>
						<ul class="list-inline">
							<li class="list-inline-item"><a href="#">Culture</a></li>
							<li class="list-inline-item"><a href="#">Social</a></li>
							<li class="list-inline-item"><a href="#">News</a></li>
							<li class="list-inline-item"><a href="#">Events</a></li>
							<li class="list-inline-item"><a href="#">Sports</a></li>
							<li class="list-inline-item"><a href="#">Music</a></li>
						</ul>
					</div>
				</div>
			</div>
		
		</div>

		<div class="row justify-content-center mt-30">
			@for (blog of [1,2,3]; track blog) {
			<div class="col-lg-4 col-md-6 col-sm-8">
				<main-blog-card/>
			</div>
		}
			<div class="col-12 text-center">
				<!-- Pagination -->
				<nav class="d-flex justify-content-center">
				  <ul class="pagination">
				  	<li class="page-item">
				      <a class="page-link" href="#" aria-label="prev">
				        <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
				        <span class="sr-only">prev</span>
				      </a>
				    </li>
				    <li class="page-item active"><a class="page-link" href="#">1</a></li>
				    <li class="page-item"><a class="page-link" href="#">2</a></li>
				    <li class="page-item"><a class="page-link" href="#">3</a></li>
				    <li class="page-item">
				      <a class="page-link" href="#" aria-label="Next">
				        <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
				        <span class="sr-only">Next</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>
		</div>

	</div>
</section>
