// Banner Styles
@import '_media-queries';
@import '_variables';
@import '_button';

.shadow{
    box-shadow: 0px 0px 30px 0px rgba(11, 29, 66, 0.15);
  }

.banner{
	padding: 250px 0 150px;
	position: relative;
	@include desktop {
		padding: 100px 0;
	}
	.block{
		position: relative;
		z-index: 10;
		.timer{
			.syotimer-cell {
		        margin-right: 25px;
		        margin-bottom: 33px;
		        display:inline-block;
		        @include mobile {
		        	margin-right: 10px;
		        	margin-bottom: 20px;
		        }
		        .syotimer-cell__value {
		        	min-width: 80px;
		        	font-family: $secondary-font;
					font-size: 35px;
					line-height: 77px;
					text-align: center;
					position: relative;
					font-weight: bold;
					color: $light;
					border: 2px solid #7c7491;
					margin-bottom: 8px;
					border-radius: 100%;
			        box-shadow: 3.5px 6.062px 0px 0px rgba(0, 0, 0, 0.1);
			        @include mobile {
			        	font-size: 30px;
					}
					@include mobile-xs{
						min-width: 65px;
						line-height: 61px;
						font-size: 25px;
					}
		        }
		        .syotimer-cell__unit {
		        	text-align: center;
					font-size: 1rem;
					text-transform: lowercase;
					font-weight:normal;
					color: $light;
					font-family: $secondary-font;
		        }
		      }
		}
		h1{
			text-transform: uppercase;
			font-size: 5.5rem;
			color: $primary-color;
			font-weight: 500;
			margin-bottom: 5px;
			@include tablet {
				font-size: 4rem;
			}
			@include mobile-xs{
				font-size: 3rem;
			}
	        text-shadow: 3.5px 6.062px 0px rgba(0, 0, 0, 0.1);
		}
		h2{
			text-transform: uppercase;
			font-size: 4.625rem;
			color: $light;
			font-weight: 400;
	        text-shadow: 3.5px 6.062px 0px rgba(0, 0, 0, 0.1);
			font-style: italic;
			@include tablet {
				font-size: 3.2rem;
			}
			@include mobile-xs{
				font-size: 2.3rem;
			}
		}
		h6{
			color: $light;
			font-weight: 400;
			margin-bottom: 50px;
		}
	}
}

.banner-two{
	padding: 250px 0 150px;
	position: relative;
	overflow: hidden;
	.block{
		h1{
			color: $primary-color;
			font-size: 88px;
			@include mobile{
				font-size: 40px;
			}
		}
		h2{
			font-weight: 400;
			text-transform: uppercase;
			font-size: 74px;
			margin-bottom: 10px;
			@include mobile{
				font-size: 35px;
			}
		}
		h3{
			font-size: 74px;
			@include mobile{
				font-size: 35px;
			}
		}
		h6{
			margin-top: 48px;
			font-weight: 400;
			margin-bottom: 60px;
			@include mobile{
				margin-top: 30px;
			}
		}
	}
}

.about {
	.image-block{
		padding: 30px;
		img{
			border-radius: 100%;
			box-shadow: 0px 0px 59px 0px rgba(11, 29, 66, 0.15);
		}
		@include tablet {
			margin-bottom: 30px;
			text-align: center;
		}
		&.two{
			padding: 0;
			margin-top: 30px;
			img{
				border-radius: 0;
				transform: translate(30px, -30px);
				@include tablet{
					transform: translate(0, -30px);
				}
			}
		}
	}
	.content-block{
		margin-left: 15px;
		@include tablet {
			text-align: center;
		}
		h2{
			&:after{
				content: "";
				width: 60px;
				height: 3px;
				background: $primary-color;
				display: block;
				margin-top: 10px;
				@include tablet {
					margin: auto;
				}
			}
			margin-bottom: 35px;
		}
		.description-one{
			p{
				color: $black;
				font-size: 1.0625rem;
			}
			margin-bottom: 20px;
		}
		.description-two{
			p{
				font-size: 0.9375em;
			}
			margin-bottom: 30px;
		}
		ul.list-inline{
			.list-inline-item{
				@include mobile{
					display: block;
				}
			}
		}
		.list-inline-item:not(:last-child) {
		    margin-right: 20px;
		    @include desktop-sm {
		    	margin-bottom: 10px;
			}
			@include mobile{
				margin-right: 0;
			}
		}
	}
}

.speakers{
	position: relative;
	&.white{
		.speaker-item{
			background: $light;
			border: 1px solid $border-color;
			&:hover{
				@extend .shadow;
			}
		}	
	}
	.speaker-item{
		background: $gray;
		padding: 7px;
		margin-bottom: 30px;
		.image{
			margin-bottom: 16px;
			position: relative;
			overflow: hidden;
			img{
				@include mobile {
					width: 100% !important;
				}
			}
			.primary-overlay{
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 100%;
				background: $primary-color;
				opacity: .85;
				transition: .3s ease;
			}
			.socials{
				position: absolute;
				top: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				transition: .4s ease;
				ul{
					width: 50%;
					@include large-desktop{
						width: 100%;
						text-align: center;
						padding: 0 20px;
					}
					// @include desktop {
					// 	width: 61%;
					// }
					// @include mobile {
					// 	width: 31%;
					// }
					li{
						&.list-inline-item:not(:last-child){
							margin-right: 7px;
							margin-bottom: 10px;
							@include large-desktop{
								margin-right: 5px;
								margin-left: 5px;
							}
						}
						&.list-inline-item:last-child{
							@include large-desktop{
								margin-right: 5px;
								margin-left: 5px;
							}
						}
						a{
							display: block;
							height: 50px;
							width: 50px;
							text-align: center;
							border: 1px solid $light;
							i{
								font-size: .9375rem;
								color: $light;
								line-height: 50px;
							}
							&:hover{
								background: $light;
								i{
									color: $black;
								}
							}
						}
					}
				}
			}
			&:hover{
				.primary-overlay{
					top: 0;
				}
				.socials{
					top: 0;
				}
			}
		}
		.content{
			h5{
				a{
					font-size: 22px;
					color: $black;
					font-weight: 400;
					margin-bottom: 0;
					&:hover{
						color: $primary-color;
					}
				}
			}
			p{
				font-size: 0.875rem; //14px
				margin-bottom: 5px;
			}
		}
	}
}





